<ion-header>
  <ion-toolbar>
    <ion-title>
      CHARADAS
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="main">
    <div class="pergunta">
      {{pergunta}}
    </div>
    <div class="timer" [class.esconder]="exibir">
      <img id="question1" src="../../assets/icon/🦆 icon _Question_.svg" [class.esconder]="exibir" alt="" [class.fundo]="time <= 5">
      {{time}}
      <img id="question2" src="../../assets/icon/🦆 icon _Question_.svg" [class.esconder]="exibir" alt="" [class.fundo]="time <= 5">
    </div>
    <div class="pergunta" [class.esconder]="!exibir">
      {{resposta}}
    </div>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="warning" (click)="solicitarCharada()">
      <ion-icon name="help-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>